<!DOCTYPE html>
<h2>SEGUROS LTG</h2>
<h3>Datos Generales</h3>
</p>
<table>
    <tr>
        <th>Moneda:</th>
        <td>NACIONAL</td>
    </tr>
    <tr>
        <th>Contrante:</th>
        <td>
            <%= datos.nombreContrante %>
        </td>
    </tr>
    <tr>
        <th>Domicilio:</th>
        <td>
            <%= datos.calleContratante %>&nbsp;<%= datos.coloniaContratante %>&nbsp; <%= datos.ciudadContratante %>&nbsp;<%= datos.estadoContrante %>
        </td>
    </tr>
    <tr>
        <th>RFC:</th>
        <td>
            <%= datos.rfcContratante %>
        </td>
    </tr>
</table>

<h3>
    SON: (SEISCIENTOS MIL PESOS M.N.)
</h3>
<h3>
    -Precio más IVA.
    -Esperando contar con su amable preferencia, quedo a sus órdenes. ATENTAMENTE
</h3>

<br><br>
_____________________________
<br>RAFAEL MONTOYA LÓPEZ <br>
REPRESENTANTE LEGAL DE SEGUROS LTG CARGA DE LOS MOCHIS S.A.


</html>