<!DOCTYPE html>
<h2>SEGUROS LTG</h2>
<h3>PONEMOS A SU DISPOSICIÓN LA SIGUIENTE COTIZACIÓN.</h3>
<p>CLIENTE: &nbsp;&nbsp;<%= datos.nombreContrante %>
</p>
<p>CONCEPTO:</p>
<table border="1">
  <tr>
    <td>ORIGEN</td>
    <td>DESTINO</td>
    <td>TIPO DE TRANSPORTE</td>
    <td>VALOR DE MERCANCIA ASEGURADA</td>
    <td>PRODUCTO</td>
  </tr>
  <tr>
    <td><%= datos.ciudadOrigen %>&nbsp;&nbsp;<%= datos.estadoOrigen %></td>
    <td>IZTAPALAPA CIUDAD DE MEXICO</td>
    <td>CAJA SECA</td>
    <td>$600,000</td>
    <td><%= datos.tipoMercancia %></td>
  </tr>
</table>

<h3>
  SON: (SEISCIENTOS MIL PESOS M.N.)
</h3>
<h3>
  -Precio más IVA. 
  -Esperando contar con su amable preferencia, quedo a sus órdenes. ATENTAMENTE
</h3>

<br><br><br><br><br><br><br><br>
_____________________________ 
<br>RAFAEL MONTOYA LÓPEZ <br>
REPRESENTANTE LEGAL DE SEGUROS LTG CARGA DE LOS MOCHIS S.A. 
<br><br><br><br><br><br><br><br>
<br><br><br><br><br>
</html>
<%- include('report-2-template.ejs') -%>